<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EDOM PNJ v.1.0</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/adminlte.min.css">
</head>

<body class="hold-transition layout-top-nav">
  <div class="wrapper">

    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
      <div class="container">
        <a href="/" class="navbar-brand">
          <img src="/dist/img/edomlogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
          <span class="brand-text font-weight-light">EDOM PNJ v.1.0</span>
        </a>

        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
          <!-- Left navbar links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a href="marksheet" class="nav-link">Permohonan Marksheet</a>
            </li>
          </ul>

          <!-- SEARCH FORM -->
          <form class="form-inline ml-0 ml-md-3">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <li class="nav-item">
          <!-- Jika user sudah login, arahkan tombol logout ke halaman logout -->
          <!-- Jika user belum login, arahkan tombol logout ke halaman login -->
          <a href="login/logout" class="nav-link">Logout</a>
        </li>
      </ul>
      </div>
    </nav>
    <!-- /.navbar -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0"> EDOM PNJ <small>v.1.0</small></h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item active"><a href="/">USER</a></li>
                <li class="breadcrumb-item active"><a href="#">EDOM</a></li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->

      <!-- Main content -->
      <div class="content">
        <div class="container">
        
          <div class="col-12">
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead >
                  <tr>
                    <th>Nama Dosen</th>
                  </thead>
                  <tbody>
                  <tr>
                    <td><%= dosen_name %></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Evaluasi Dosen Oleh Mahasiswa</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="<%= url %>penilaian/savepenilaian">
                  <div class="card-body">
                    <% for (let i = 0; i < question_question.length; i++) { %>
                    <div class="form-group">
                      <div class="mb-3">
                        <label for="exampleInputEmail1"><%= question_question[i].question_id %>. <%= question_question[i].question_question %></label>
                      </div>
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="radioOption1" name="<%= question_question[i].question_name %>" value="1">
                            <label class="form-check-label" for="radioOption1">Sangat Kurang</label>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="radioOption2" name="<%= question_question[i].question_name %>"value="2">
                            <label class="form-check-label" for="radioOption2">Kurang</label>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="radioOption3" name="<%= question_question[i].question_name %>" value="3">
                            <label class="form-check-label" for="radioOption3">Cukup</label>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="radioOption4" name="<%= question_question[i].question_name %>" value="4">
                            <label class="form-check-label" for="radioOption4">Baik</label>
                          </div>
                        </div>
                        <div class="col-md-2">
                          <div class="form-check">
                            <input type="radio" class="form-check-input" id="radioOption5" name="<%= question_question[i].question_name %>" value="5">
                            <label class="form-check-label" for="radioOption5">Sangat Baik</label>
                          </div>
                        </div>
                      </div>
                      <br>
                  <% } %>
                  </div>
                  <div class="card-footer">

                    
                    <input type="hidden" value="<%= dosen_id %>" name="dosen_id" class="form-control" >
                    <input type="hidden" value="<%= matkul_id %>" name="matkul_id" class="form-control" >
                    <input type="hidden" value="<%= semesterYear %>" name="semester_year" class="form-control" >
                    <input type="hidden" value="<%= semesterGage %>" name="semester_gage" class="form-control" >
                    <input type="hidden" value="<%= user_id %>" name="user_id" class="form-control" >
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
            
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>

    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- To the right -->
      <div class="float-right d-none d-sm-inline">
        Anything you want
      </div>
      <!-- Default to the left -->
      <strong>Copyright &copy; 2023 <a href="https://adminlte.io">Politeknik Negeri Jakarta</a>.</strong> All rights
      reserved.
    </footer>
  </div>
  <!-- ./wrapper -->

  <!-- REQUIRED SCRIPTS -->

  <!-- jQuery -->
  <!-- jQuery -->
  <script src="/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- ChartJS -->
  <script src="/plugins/chart.js/Chart.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <!-- Page specific script -->
  <script>
    $(function () {
      /* ChartJS
       * -------
       * Here we will create a few charts using ChartJS
       */

      //--------------
      //- AREA CHART -
      //--------------

      // Get context with jQuery - using jQuery's .get() method.
      var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

      var areaChartData = {
        labels: ['Semester 1', 'Semester 2', 'Semester 3', 'Semester 4', 'Semester 5', 'Semester 6', 'Semester 7',
          'Semester 8'
        ],
        datasets: [{
          label: 'Digital Goods',
          backgroundColor: 'rgba(60,141,188,0.9)',
          borderColor: 'rgba(60,141,188,0.8)',
          pointRadius: false,
          pointColor: '#3b8bba',
          pointStrokeColor: 'rgba(60,141,188,1)',
          pointHighlightFill: '#fff',
          pointHighlightStroke: 'rgba(60,141,188,1)',
          data: [3.4, 3.6, 3.8, 3.7, 3.6, 3.63, 3.8, 3.93]
        }, ]
      }

      var areaChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false
        },
        scales: {
          xAxes: [{
            gridLines: {
              display: false,
            }
          }],
          yAxes: [{
            gridLines: {
              display: false,
            }
          }]
        }
      }

      // This will get the first returned node in the jQuery collection.
      new Chart(areaChartCanvas, {
        type: 'line',
        data: areaChartData,
        options: areaChartOptions
      })

      //-------------
      //- LINE CHART -
      //--------------
      var lineChartCanvas = $('#lineChart').get(0).getContext('2d')
      var lineChartOptions = $.extend(true, {}, areaChartOptions)
      var lineChartData = $.extend(true, {}, areaChartData)
      lineChartData.datasets[0].fill = false;
      lineChartData.datasets[1].fill = false;
      lineChartOptions.datasetFill = false

      var lineChart = new Chart(lineChartCanvas, {
        type: 'line',
        data: lineChartData,
        options: lineChartOptions
      })

      //-------------
      //- DONUT CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
      var donutData = {
        labels: [
          'Chrome',
          'IE',
          'FireFox',
          'Safari',
          'Opera',
          'Navigator',
        ],
        datasets: [{
          data: [700, 500, 400, 600, 300, 100],
          backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#d2d6de'],
        }]
      }
      var donutOptions = {
        maintainAspectRatio: false,
        responsive: true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      new Chart(donutChartCanvas, {
        type: 'doughnut',
        data: donutData,
        options: donutOptions
      })

      //-------------
      //- PIE CHART -
      //-------------
      // Get context with jQuery - using jQuery's .get() method.
      var pieChartCanvas = $('#pieChart').get(0).getContext('2d')
      var pieData = donutData;
      var pieOptions = {
        maintainAspectRatio: false,
        responsive: true,
      }
      //Create pie or douhnut chart
      // You can switch between pie and douhnut using the method below.
      new Chart(pieChartCanvas, {
        type: 'pie',
        data: pieData,
        options: pieOptions
      })

      //-------------
      //- BAR CHART -
      //-------------
      var barChartCanvas = $('#barChart').get(0).getContext('2d')
      var barChartData = $.extend(true, {}, areaChartData)
      var temp0 = areaChartData.datasets[0]
      var temp1 = areaChartData.datasets[1]
      barChartData.datasets[0] = temp1
      barChartData.datasets[1] = temp0

      var barChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        datasetFill: false
      }

      new Chart(barChartCanvas, {
        type: 'bar',
        data: barChartData,
        options: barChartOptions
      })

      //---------------------
      //- STACKED BAR CHART -
      //---------------------
      var stackedBarChartCanvas = $('#stackedBarChart').get(0).getContext('2d')
      var stackedBarChartData = $.extend(true, {}, barChartData)

      var stackedBarChartOptions = {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            stacked: true,
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }

      new Chart(stackedBarChartCanvas, {
        type: 'bar',
        data: stackedBarChartData,
        options: stackedBarChartOptions
      })
    })
  </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Mengambil semua elemen radio pada halaman
        const radioInputs = document.querySelectorAll("input[type='radio']");

        // Membuat variabel untuk menyimpan waktu terakhir pengisian radio
        let lastRadioInputTime = 0;

        // Menambahkan event listener untuk setiap elemen radio
        radioInputs.forEach(function (radio) {
          radio.addEventListener("click", function (event) {
            const currentTime = Date.now();
            // Menghitung selisih waktu antara pengisian radio saat ini dengan waktu terakhir
            const timeDiff = (currentTime - lastRadioInputTime) / 1000; // dalam detik

            // Jika waktu selisih kurang dari 3 detik, tampilkan pesan popup
            if (timeDiff < 3) {
              alert("ISI DATA ANDA DENGAN SEBENARNYA, TUNGGU SELAMA 3 DETIK");
              // Mencegah pengisian radio selanjutnya
              event.preventDefault();
              if (timeoutId) {
              clearTimeout(timeoutId);
            }
            }

            // Memperbarui waktu terakhir pengisian radio
            lastRadioInputTime = currentTime;
          });
        });
      });
    </script>
</body>

</html>
